body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

#container {
  width: 680px;
  margin: 0 auto;
  background-color: #f4edca;
	padding: 10px;
}

#flash_notice {
  font-size: 11px;
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 5px 8px;
  margin-top: 10px;
}

#flash_error {
  font-size: 11px;
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin-top: 10px;
}

#main {
  width: 500px;
  float: left;
	background-color: #efeeff;
}

#main table {
	border-style: none;
	text-align: left;
	font-variant: normal;
	line-height: 1.5;
}

#side {
  margin-left: 530px;
  width: 150px;
  color: #333;
  font-size: 11px;
  padding-top: 20px;
}