- title 'Haushaltsbuch'
#main
  %h1 Eintrag ändern

  %table
    - form_for @haushalt do |f|
      %tr
        %td
          Datum
        %td
          =f.text_field :datum
      %tr
        %td
          Kategorie
        %td
          =f.text_field :kategorie, :size => 8
        %td
          Betrag
        %td
          =f.text_field :betrag, :size => 6
      %tr
        %td
          =f.submit "Speichern"

  %p= link_to 'Zurück', haushalts_path