/= error_message_on "haushalt","input_error"

#main
  %h1 Neuer Eintrag

  %table
    - form_for :haushalt, @haushalt, :url => {:action => "create"}, :html=> {:method => :post} do |f|
      %tr
        %td
          Datum
        %td
          =f.text_field :datum, :size => 10
      %tr
        %td
          Kategorie
        %td
          =f.text_field :kategorie, :size => 10
        %td
          Betrag
        %td
          =f.text_field :betrag, :size => 8
      %tr
        %td
          =f.submit "Speichern"

  %p= link_to 'Zurück', haushalts_path